<!-- employer_signup.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Employer Sign-Up</title>
    <!-- Include Bootstrap CSS (you should provide the actual URL to the Bootstrap CSS file) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body class="text-center">
    <form class="form-signin" method="post">
        <h2 class="h3 mb-3 font-weight-normal">Employer Sign Up</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>
    <center>
        <div class="mt-3 text-center"> <!-- Center-align the links -->
            <p>Already have an account? <a href="{% url 'employer_login' %}">Employer Login</a></p>
            <p>Student? <a href="{% url 'student_login' %}">Student Login</a></p>
            <p>Head? <a href="{% url 'head_login' %}">Head Login</a></p>
        </div>
    </center>

    <!-- Include Bootstrap JS and jQuery (you should provide the actual URLs to these files) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
