{% extends 'student_dashboard.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Student Profile</h1>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Name:</dt>
                <dd class="col-sm-9">{{ profile.full_name }}</dd>
                
                <dt class="col-sm-3">Date of Birth:</dt>
                <dd class="col-sm-9">{{ profile.date_of_birth }}</dd>
                
                <dt class="col-sm-3">Contact:</dt>
                <dd class="col-sm-9">{{ profile.contact_number }}</dd>
                
                <dt class="col-sm-3">Address:</dt>
                <dd class="col-sm-9">{{ profile.address }}</dd>

                <dt class="col-sm-3">Sem 1:</dt>
                <dd class="col-sm-9">{{ profile.spi_semester1 }}</dd>
                
                <dt class="col-sm-3">Sem 2:</dt>
                <dd class="col-sm-9">{{ profile.spi_semester2 }}</dd>
                
                <dt class="col-sm-3">Sem 3:</dt>
                <dd class="col-sm-9">{{ profile.spi_semester3 }}</dd>
                
                <dt class="col-sm-3">Sem 4:</dt>
                <dd class="col-sm-9">{{ profile.spi_semester4 }}</dd>

                <dt class="col-sm-3">Sem 5:</dt>
                <dd class="col-sm-9">{{ profile.spi_semester5 }}</dd>
                
                <dt class="col-sm-3">Sem 6:</dt>
                <dd class="col-sm-9">{{ profile.spi_semester6 }}</dd>
                
                <dt class="col-sm-3">Sem 7:</dt>
                <dd class="col-sm-9">{{ profile.spi_semester7 }}</dd>
                
                <dt class="col-sm-3">Sem 8:</dt>
                <dd class="col-sm-9">{{ profile.spi_semester8 }}</dd>

                <dt class="col-sm-3">CGPA:</dt>
                <dd class="col-sm-9">{{ profile.cgpa }}</dd>

                <!-- <dt class="col-sm-3">Resume:</dt>
                <dd class="col-sm-9">
                    {% if student.resume %}
                        <a href="{{ student.resume.url }}" target="_blank">Download Resume</a>
                    {% else %}
                        No Resume
                    {% endif %}
                </dd> -->
                <!-- Add more fields as needed -->

                <dd class="col-sm-6 mt-4">
                    <a href="{% url 'student_profile_update' %}" class="btn btn-primary">Update Profile</a>
                </dd>
                <dd class="col-sm-6 mt-4">
                    <a href="{% url 'student_dashboard' %}" class="btn btn-primary">Dashboard</a>
                </dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}
