{% extends 'employer_dashboard.html' %}
{% block content %}
    <div class="form-signin">
        <h1>{{ job.title }}</h1>
        <p>Description: {{ job.description }}</p>
        <p>Industry: {{ job.industry }}</p>
        <p>Location: {{ job.location }}</p>
        <p>Application Deadline: {{ job.application_deadline }}</p>
        <a href="{% url 'edit_job' job.id %}" class="btn btn-warning btn-sm mr-2">Edit</a>
        <a href="{% url 'delete_job' job.id %}" class="btn btn-danger btn-sm">Delete</a>
        <a href="{% url 'job_listing_page' %}">Go Back</a>
    </div>
    <div class="container">
        <h1 class="mt-5">Student List</h1>
        <a href="{% url 'generate_shortlisted_students_pdf' job.id %}">Generate PDF</a>
        <table class="table table-bordered table-hover mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.full_name }}</td>
                        <td>{{ student.user.email }}</td>
                        <td>{{ student.contact_number }}</td>
                        <td>{{ student.address }}</td>
                        <td>
                            {% if student.is_shortlist %}
                                <p>Shortlisted</p>
                            {% else %}
                                <p>Shortlist</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
