{% extends 'student_dashboard.html' %}
{% block content %}
<div class="container">
    <h1 class="mt-5">Job List</h1>
    <table class="table table-bordered table-hover mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Employer</th>
                <th>Deadline</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                <tr>
                    <td>{{ job.title }}</td>
                    <td>{{ job.employer.company_name }}</td>
                    <td>{{ job.application_deadline }}</td>
                    <td>{{ job.description }}</td>
                    <td><a href="{% url 'apply_job' job.id %}" class="btn btn-primary">Apply</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

